{% extends "myapp/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card shadow">
    <div class="card-body">
        <h3 class="card-title">Welcome to the Player Database</h3>
        <p class="card-text">
            This application uses a FIFA player dataset containing player information such as
            name, nationality, team, rating, age, speed, and strength. Use the navigation links
            to browse records, add new players, and view analytics. There is also a weather tab 
            that shows  weather in Tallahassee, Atlanta, and Miami.
        </p>
        <a href="{% url 'record_list' %}" class="btn btn-primary">View Players</a>
    </div>
</div>

{% endblock %}